*{
    margin: 0;
    padding: 0;
}
body{
    background: #b8e6b3;
    transition: .5s;
}
#content{
    perspective: 1000px;
}
.wrap{
    width: 1190px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px auto;
    transform-style: preserve-3d;
    
}
.box{
    width: 150px;
    height: 150px;
    position: relative;
    margin: 10px;
    transform-style: preserve-3d;
   transition: 0.5s;

}
.box div{
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border: 10px solid rgba(0,0,0,0.1);
   transform-origin: 0 0;
   text-align: center;
   line-height: 130px;
   color: #fff;
   font-size: 50px;
   font-weight: bolder;
   text-shadow: 0 3px 10px #000;
}
.box div:nth-of-type(1){
    transform: translateZ(150px);
    
}
.box div:nth-of-type(2){
    transform: rotatey(-90deg);
}
.box div:nth-of-type(3){
    transform: rotatex(90deg) translateZ(-150px);
}
.box div:nth-of-type(4){
    transform:  rotatey(-90deg) translateZ(-150px);
}
.box div:nth-of-type(5){
    transform: rotatex(90deg);
}